@{
    ViewBag.Title = " <a href>, hyperlink, is a way to navigate to any webPage external or inside the application, it is client side, and it changes the URI in the address bar to the href page";
}

<div>
    
    <h3>@ViewBag.Title</h3>
    <h3><a href="~/Home/about">go to internal webPage</a></h3>
    <h3><a href="http://google.com">go to external webPage</a></h3>
</div>      