body {
    margin: 5px;
    background-color: #FFFFFF;
    font-family: helvetica;
    color: #000000;
}
body>form>div.well{
    width:94%;
    height: 80%;
    margin:3%;
    padding:128px;
    background-color:#eee;
}
body>form>div>#txtUsuario,
body>form>div>#txtContraseña{
  border: 2px solid #7BC143;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  margin: 2% 4% 4% 4%;
}
h5{
    font-size:1.2em;
    margin-left:40px;
    font-weight:bolder;
}
h1{
    font-size: 3em;
    margin-top: 24px;
    width: 94%;
    margin-left:5%;
    padding-bottom: 12px;
    border-bottom:solid 3px;
    border-bottom-color: #7BC143;
    font-family: sans-serif;

}
[type="submit"] {
  display: block;
  padding: 6px;
  border-radius: 10px;
  MARGIN-LEFT: 50px;
  margin-top: 12px;
  float: right;
  margin-right: 25%;
}
form{
  display: flex;
  margin: 24px;
}
.well{
  width: 45%;
  Height: 600px;
}
aside {
  display: block;
  width: 45%;
  margin-left: 2%;
  padding: 24px 24px 24px 48px;
  border-left: 3px solid rgb(123, 193, 67);
  margin-top: 24px;
  margin-bottom: 36px;
  border-radius: 3px;
}
[type="password"],
[type=text] {
  margin-left: 80px;
  width: 60%;
  border-radius: 8px;
}
header {
  height: 90px;
  background-color: rgb(123, 193, 67);
  margin: -8px;
}
img{
    margin:12px;
}
p {
  margin-left: 40px;
}