<div class="page">
<h2><%=@category.name%></h2>
<% if @posts.each do |post|%>
	<h3><%=link_to post.title, post_path(post.id)%></h3>
	<p><%=post.body%></p>
<% end.empty? %>
	No posts under this category
<% end %>

<%= link_to "Back to categories", categories_path%>
</div>