<div class="page">
<h1>About My Ruby Blog</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus, enim a maximus condimentum, sem eros fermentum quam, id auctor lacus leo nec elit. Duis eleifend velit sed massa eleifend, non pharetra nunc lacinia. Aliquam ultricies, neque a dictum placerat, felis erat vestibulum arcu, vel finibus ligula nunc a ante. Aliquam nec pellentesque libero. Praesent viverra ullamcorper velit ac consectetur. Maecenas a magna et nisl egestas elementum malesuada ac quam. Nam posuere orci a dignissim mollis. Donec venenatis leo vel libero elementum convallis. Pellentesque ultricies auctor posuere. Maecenas enim urna, condimentum gravida sagittis vel, cursus sed orci. Donec et ipsum enim.
</p>
<p>Find me in app/views/pages/about.html.erb</p>
</div>