<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.0"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="Seguridad/Frm_Login.aspx" timeout="20"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="mpUcrLdapProvider">
      <providers>
        <clear/>
        <add name="mpUcrLdapProvider" description="Proveedor de usuarios a través de WebService para acceso por medio del LDAP de funcionarios." type="IMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="rpTallerCapacitacion">
      <providers>
        <add name="rpTallerCapacitacion" description="Proveedor de roles a través de WebService para rpTallerCapacitacion" type="IRoleProvider"/>
      </providers>
    </roleManager>-->
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ItemPorPaginaEnListado" value="3"/>
    <add key="RutaPaginaDeErroresFormatoServerTransfer" value="~/Genericos/Frm_ControlDeErrores.aspx"/>
    <add key="RutaPaginaMostrarLuegoDeErrorFormatoResponseRedirect" value="Frm_MenuPrincipal.aspx"/>
    <add key="RutaPaginaLoginExitosoFormatoResponseRedirect" value="../Genericos/Frm_MenuPrincipal.aspx"/>
    <add key="NombreDelSitioWeb" value="UI_TallerCapacitacionWeb"/>
    <add key="NombreDeLaAplicacion" value="Taller de Capacitacion - Roberto"/>
    <add key="AplicarSeguridadMenu" value="False"/>
    <add key="MostrarDetalleError" value="true"/>
    <add key="UsuarioAplicacionWeb" value="SysUsrUiTcCapacitacionWeb"/>
    <add key="ClaveAplicacionWeb" value="ab0123456789."/>
    <add key="NombreAplicacionEnGestorDeNotificaciones" value=""/>
    <add key="CorreoDelAdministrador" value=""/>
    <add key="RutaBaseRecursosWebAds" value="http://localhost/RecursosWebAds"/>
    <add key="Wsr_GN_GestorNotificaciones.wsGestorNotificaciones" value="http://localhost/SLA_GestorNotificaciones/wsGestorNotificaciones.asmx"/>
    <add key="Wsr_SEG_MembershipProvider_LdapFuncionarios.WsLdapProvider" value="http://localhost/SLA_UtileriasSeguridad/WsLdapProvider.asmx"/>
    <add key="Wsr_SEG_RolesProvider.WsOracleRolesProvider" value="http://localhost/SLA_UtileriasSeguridad/WsOracleRolesProvider.asmx"/>
    <add key="Wsr_TC_Catalogos.Ws_TC_Catalogos" value="http://localhost/SLA_TallerCapacitacion/Ws_TC_Catalogos.asmx"/>
  <add key="Wsr_SDP_ReportServer.asmx.Ws_SDP_ReportServer" value="http://localhost/SLA_GeneradorDeReportes/Ws_SDP_ReportServer.asmx"/>
  </appSettings>
</configuration>