<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="Seguridad/Frm_Login.aspx" timeout="20"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="mpUcrLdapProvider">
      <providers>
        <clear/>
        <add name="mpUcrLdapProvider" description="Proveedor de usuarios a través de WebService para acceso por medio del LDAP de funcionarios." type="IMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="rpUIOrdenesDeTrabajoWeb">
      <providers>
        <add name="rpUIOrdenesDeTrabajoWeb" description="Proveedor de roles a través de WebService para rpUIOrdenesDeTrabajoWeb" type="IRoleProvider"/>
      </providers>
    </roleManager>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="1200" maxRequestLength="14336"/>
  </system.web>
  <appSettings>
    <add key="UsuarioServiciosOrh" value="SysUsrViaticosLocales_ORH"/>
    <add key="ClaveServiciosOrh" value="7L4%aj.6kp!6#"/>
    <add key="ItemPorPaginaEnListado" value="15"/>
    <add key="RoleOT_Autorizador_Solicitud" value="OT_Autorizador_Solicitud"/>
    <add key="RoleOT_Profesional_Disenio" value="OT_Profesional_Disenio"/>
    <add key="RutaPaginaDeErroresFormatoServerTransfer" value="~/Genericos/Frm_ControlDeErrores.aspx"/>
    <add key="RutaPaginaMostrarLuegoDeErrorFormatoResponseRedirect" value="Frm_MenuPrincipal.aspx"/>
    <add key="RutaPaginaLoginExitosoFormatoResponseRedirect" value="../Genericos/Frm_MenuPrincipal.aspx"/>
    <add key="NombreDelSitioWeb" value="UIOrdenesDeTrabajoWeb"/>
    <add key="NombreDeLaAplicacion" value="Sistema para el Control de Órdenes de Trabajo"/>
    <add key="AplicarSeguridadMenu" value="True"/>
    <add key="MostrarDetalleError" value="true"/>
    <add key="UsuarioAplicacionWeb" value="SysUsrUiOrdenesDeTrabajoweb"/>
    <add key="ClaveAplicacionWeb" value="bfCgMG3hacmA["/>
    <add key="NombreAplicacionEnGestorDeNotificaciones" value=""/>
    <add key="CorreoDelAdministrador" value=""/>
    <add key="NombreAplicacionPlanillas" value="PlanillasWeb"/>
    <add key="RutaBaseRecursosWebAds" value="http://localhost/RecursosWebAds"/>
    <add key="Wsr_GN_GestorNotificaciones.wsGestorNotificaciones" value="http://localhost/SLA_GestorNotificaciones/wsGestorNotificaciones.asmx"/>
    <add key="Wsr_SEG_MembershipProvider_LdapFuncionarios.WsLdapProvider" value="http://localhost/SLA_UtileriasSeguridad/WsLdapProvider.asmx"/>
    <add key="Wsr_SEG_RolesProvider.WsOracleRolesProvider" value="http://localhost/SLA_UtileriasSeguridad/WsOracleRolesProvider.asmx"/>
    <add key="Wsr_OT_OrdenesDeTrabajo.Ws_OT_OrdenesDeTrabajo" value="http://localhost/SLA_OrdenesDeTrabajo/Ws_OT_OrdenesDeTrabajo.asmx"/>
    <add key="WsrEU_Curriculo.wsEU_Curriculo" value="http://localhost/SLA_ExpUnico/wsEU_Curriculo.asmx"/>
    <add key="WsrSolicitudVacaciones.WsSolicitudVacaciones" value="http://10.11.28.15/SLA_ServiciosOrh_SDP_Sirh_Desarrollo/WsSolicitudVacaciones.asmx"/>
    <add key="WsrCatalogosVacaciones.WsCatalogosVacaciones" value="http://10.11.28.15/SLA_ServiciosOrh_SDP_Sirh_Desarrollo/WsCatalogosVacaciones.asmx"/>
    <add key="Wsr_OT_Catalogos.Ws_OT_Catalogos" value="http://localhost/SLA_OrdenesDeTrabajo/Ws_OT_Catalogos.asmx"/>
    <add key="WsrSIRH.WsSIRH" value="http://10.11.28.15/SLA_ServiciosOrh_SDP_Sirh_Desarrollo/WsSIRH.asmx"/>
    <add key="Wsr_SDP_ReportServer.Ws_SDP_ReportServer" value="http://localhost/SLA_GeneradorDeReportes/Ws_SDP_ReportServer.asmx"/>
    <add key="WsrOrhEuCatalogosPlanilla.WsOrhEuCatalogosPlanilla" value="http://10.11.28.15/SLA_ServiciosOrhEU_SDP_Sirh_Desarrollo/WsOrhEuCatalogosPlanilla.asmx"/>
    <add key="RutaEscribirArchivos" value="C:\Temp\"/>
  </appSettings>

  <location path="OrdenesDeTrabajo/Frm_OT_AnalisisViabilidadTecnica.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  <location path="OrdenesDeTrabajo/Frm_OT_VistoBuenoAnalisisViabilidadTecnica.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  <location path="OrdenesDeTrabajo/Frm_OT_VistoBuenoJefaturaSeccionMantenimiento.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  <location path="OrdenesDeTrabajo/Frm_OT_ElaboracionPresupuesto.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  <location path="OrdenesDeTrabajo/Frm_OT_AprobacionPresupuestoCoordinador.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  <location path="OrdenesDeTrabajo/Frm_OT_AprobacionPresupuestoJefatura.aspx">
    <system.web>
      <httpRuntime executionTimeout="1200" maxRequestLength="5120" requestValidationMode="2.0"/>
    </system.web>
  </location>

  
</configuration>